
    #home {
        background-image:  url(background4.jpg);
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
        
    }